body{
    background-color: rgb(34, 15, 51);
    color: white;
}

h1{
    text-align: center;
    font-size: 2em;
}

.div1{
    display: block;
    background-color: rgb(60, 59, 59);
    color: white;
}